
.highlight {
    /*
    This CSS block is generated with command:
    hugo gen chromastyles --style=pygments

    All style available from Chroma lib are liste here:
    https://xyproto.github.io/splash/docs/longer/all.html

    Chosen Chroma theme for **light** flavor is: "pygment"
    https://xyproto.github.io/splash/docs/longer/pygments.html
    */

    /* Background */ .bg { ; }
    /* PreWrapper */ .chroma { ; }
    /* Other */ .chroma .x {  }
    /* Error */ .chroma .err {  }
    /* CodeLine */ .chroma .cl {  }
    /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
    /* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
    /* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
    /* LineHighlight */ .chroma .hl { background-color:#e5e5e5 }
    /* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
    /* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f }
    /* Line */ .chroma .line { display:flex; }
    /* Keyword */ .chroma .k { color:#008000;font-weight:bold }
    /* KeywordConstant */ .chroma .kc { color:#008000;font-weight:bold }
    /* KeywordDeclaration */ .chroma .kd { color:#008000;font-weight:bold }
    /* KeywordNamespace */ .chroma .kn { color:#008000;font-weight:bold }
    /* KeywordPseudo */ .chroma .kp { color:#008000 }
    /* KeywordReserved */ .chroma .kr { color:#008000;font-weight:bold }
    /* KeywordType */ .chroma .kt { color:#b00040 }
    /* Name */ .chroma .n {  }
    /* NameAttribute */ .chroma .na { color:#7d9029 }
    /* NameBuiltin */ .chroma .nb { color:#008000 }
    /* NameBuiltinPseudo */ .chroma .bp {  }
    /* NameClass */ .chroma .nc { color:#00f;font-weight:bold }
    /* NameConstant */ .chroma .no { color:#800 }
    /* NameDecorator */ .chroma .nd { color:#a2f }
    /* NameEntity */ .chroma .ni { color:#999;font-weight:bold }
    /* NameException */ .chroma .ne { color:#d2413a;font-weight:bold }
    /* NameFunction */ .chroma .nf { color:#00f }
    /* NameFunctionMagic */ .chroma .fm {  }
    /* NameLabel */ .chroma .nl { color:#a0a000 }
    /* NameNamespace */ .chroma .nn { color:#00f;font-weight:bold }
    /* NameOther */ .chroma .nx {  }
    /* NameProperty */ .chroma .py {  }
    /* NameTag */ .chroma .nt { color:#008000;font-weight:bold }
    /* NameVariable */ .chroma .nv { color:#19177c }
    /* NameVariableClass */ .chroma .vc {  }
    /* NameVariableGlobal */ .chroma .vg {  }
    /* NameVariableInstance */ .chroma .vi {  }
    /* NameVariableMagic */ .chroma .vm {  }
    /* Literal */ .chroma .l {  }
    /* LiteralDate */ .chroma .ld {  }
    /* LiteralString */ .chroma .s { color:#ba2121 }
    /* LiteralStringAffix */ .chroma .sa { color:#ba2121 }
    /* LiteralStringBacktick */ .chroma .sb { color:#ba2121 }
    /* LiteralStringChar */ .chroma .sc { color:#ba2121 }
    /* LiteralStringDelimiter */ .chroma .dl { color:#ba2121 }
    /* LiteralStringDoc */ .chroma .sd { color:#ba2121;font-style:italic }
    /* LiteralStringDouble */ .chroma .s2 { color:#ba2121 }
    /* LiteralStringEscape */ .chroma .se { color:#b62;font-weight:bold }
    /* LiteralStringHeredoc */ .chroma .sh { color:#ba2121 }
    /* LiteralStringInterpol */ .chroma .si { color:#b68;font-weight:bold }
    /* LiteralStringOther */ .chroma .sx { color:#008000 }
    /* LiteralStringRegex */ .chroma .sr { color:#b68 }
    /* LiteralStringSingle */ .chroma .s1 { color:#ba2121 }
    /* LiteralStringSymbol */ .chroma .ss { color:#19177c }
    /* LiteralNumber */ .chroma .m { color:#666 }
    /* LiteralNumberBin */ .chroma .mb { color:#666 }
    /* LiteralNumberFloat */ .chroma .mf { color:#666 }
    /* LiteralNumberHex */ .chroma .mh { color:#666 }
    /* LiteralNumberInteger */ .chroma .mi { color:#666 }
    /* LiteralNumberIntegerLong */ .chroma .il { color:#666 }
    /* LiteralNumberOct */ .chroma .mo { color:#666 }
    /* Operator */ .chroma .o { color:#666 }
    /* OperatorWord */ .chroma .ow { color:#a2f;font-weight:bold }
    /* Punctuation */ .chroma .p {  }
    /* Comment */ .chroma .c { color:#408080;font-style:italic }
    /* CommentHashbang */ .chroma .ch { color:#408080;font-style:italic }
    /* CommentMultiline */ .chroma .cm { color:#408080;font-style:italic }
    /* CommentSingle */ .chroma .c1 { color:#408080;font-style:italic }
    /* CommentSpecial */ .chroma .cs { color:#408080;font-style:italic }
    /* CommentPreproc */ .chroma .cp { color:#bc7a00 }
    /* CommentPreprocFile */ .chroma .cpf { color:#bc7a00 }
    /* Generic */ .chroma .g {  }
    /* GenericDeleted */ .chroma .gd { color:#a00000 }
    /* GenericEmph */ .chroma .ge { font-style:italic }
    /* GenericError */ .chroma .gr { color:#f00 }
    /* GenericHeading */ .chroma .gh { color:#000080;font-weight:bold }
    /* GenericInserted */ .chroma .gi { color:#00a000 }
    /* GenericOutput */ .chroma .go { color:#888 }
    /* GenericPrompt */ .chroma .gp { color:#000080;font-weight:bold }
    /* GenericStrong */ .chroma .gs { font-weight:bold }
    /* GenericSubheading */ .chroma .gu { color:#800080;font-weight:bold }
    /* GenericTraceback */ .chroma .gt { color:#04d }
    /* GenericUnderline */ .chroma .gl { text-decoration:underline }
    /* TextWhitespace */ .chroma .w { color:#bbb }
}

.dark .highlight {
    /*
    This CSS block is generated with command:
    hugo gen chromastyles --style=catppuccin-mocha

    All style available from Chroma lib are liste here:
    https://xyproto.github.io/splash/docs/longer/all.html

    Chosen Chroma theme for **light** flavor: "catppuccin-mocha" + some a11y fix
    https://xyproto.github.io/splash/docs/longer/catppuccin-mocha.html
    */
    /* Background */ .bg { color:#cdd6f4;background-color:#1e1e2e; }
    /* PreWrapper */ .chroma { color:#cdd6f4;background-color:#1e1e2e; }
    /* Other */ .chroma .x {  }
    /* Error */ .chroma .err { color:#f38ba8 }
    /* CodeLine */ .chroma .cl {  }
    /* LineLink */ .chroma .lnlinks { outline:none;text-decoration:none;color:inherit }
    /* LineTableTD */ .chroma .lntd { vertical-align:top;padding:0;margin:0;border:0; }
    /* LineTable */ .chroma .lntable { border-spacing:0;padding:0;margin:0;border:0; }
    /* LineHighlight */ .chroma .hl { background-color:#45475a }
    /* LineNumbersTable */ .chroma .lnt { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f849c }
    /* LineNumbers */ .chroma .ln { white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f849c }
    /* Line */ .chroma .line { display:flex; }
    /* Keyword */ .chroma .k { color:#cba6f7 }
    /* KeywordConstant */ .chroma .kc { color:#fab387 }
    /* KeywordDeclaration */ .chroma .kd { color:#f38ba8 }
    /* KeywordNamespace */ .chroma .kn { color:#94e2d5 }
    /* KeywordPseudo */ .chroma .kp { color:#cba6f7 }
    /* KeywordReserved */ .chroma .kr { color:#cba6f7 }
    /* KeywordType */ .chroma .kt { color:#f38ba8 }
    /* Name */ .chroma .n {  }
    /* NameAttribute */ .chroma .na { color:#89b4fa }
    /* NameBuiltin */ .chroma .nb { color:#89dceb }
    /* NameBuiltinPseudo */ .chroma .bp { color:#89dceb }
    /* NameClass */ .chroma .nc { color:#f9e2af }
    /* NameConstant */ .chroma .no { color:#f9e2af }
    /* NameDecorator */ .chroma .nd { color:#89b4fa;font-weight:bold }
    /* NameEntity */ .chroma .ni { color:#94e2d5 }
    /* NameException */ .chroma .ne { color:#fab387 }
    /* NameFunction */ .chroma .nf { color:#89b4fa }
    /* NameFunctionMagic */ .chroma .fm { color:#89b4fa }
    /* NameLabel */ .chroma .nl { color:#89dceb }
    /* NameNamespace */ .chroma .nn { color:#fab387 }
    /* NameOther */ .chroma .nx {  }
    /* NameProperty */ .chroma .py { color:#fab387 }
    /* NameTag */ .chroma .nt { color:#cba6f7 }
    /* NameVariable */ .chroma .nv { color:#f5e0dc }
    /* NameVariableClass */ .chroma .vc { color:#f5e0dc }
    /* NameVariableGlobal */ .chroma .vg { color:#f5e0dc }
    /* NameVariableInstance */ .chroma .vi { color:#f5e0dc }
    /* NameVariableMagic */ .chroma .vm { color:#f5e0dc }
    /* Literal */ .chroma .l {  }
    /* LiteralDate */ .chroma .ld {  }
    /* LiteralString */ .chroma .s { color:#a6e3a1 }
    /* LiteralStringAffix */ .chroma .sa { color:#f38ba8 }
    /* LiteralStringBacktick */ .chroma .sb { color:#a6e3a1 }
    /* LiteralStringChar */ .chroma .sc { color:#a6e3a1 }
    /* LiteralStringDelimiter */ .chroma .dl { color:#89b4fa }
    /* LiteralStringDoc */ .chroma .sd { color:#6c7086 }
    /* LiteralStringDouble */ .chroma .s2 { color:#a6e3a1 }
    /* LiteralStringEscape */ .chroma .se { color:#89b4fa }
    /* LiteralStringHeredoc */ .chroma .sh { color:#6c7086 }
    /* LiteralStringInterpol */ .chroma .si { color:#a6e3a1 }
    /* LiteralStringOther */ .chroma .sx { color:#a6e3a1 }
    /* LiteralStringRegex */ .chroma .sr { color:#94e2d5 }
    /* LiteralStringSingle */ .chroma .s1 { color:#a6e3a1 }
    /* LiteralStringSymbol */ .chroma .ss { color:#a6e3a1 }
    /* LiteralNumber */ .chroma .m { color:#fab387 }
    /* LiteralNumberBin */ .chroma .mb { color:#fab387 }
    /* LiteralNumberFloat */ .chroma .mf { color:#fab387 }
    /* LiteralNumberHex */ .chroma .mh { color:#fab387 }
    /* LiteralNumberInteger */ .chroma .mi { color:#fab387 }
    /* LiteralNumberIntegerLong */ .chroma .il { color:#fab387 }
    /* LiteralNumberOct */ .chroma .mo { color:#fab387 }
    /* Operator */ .chroma .o { color:#89dceb;font-weight:bold }
    /* OperatorWord */ .chroma .ow { color:#89dceb;font-weight:bold }
    /* Punctuation */ .chroma .p {  }
    /* Comment */ .chroma .c { color:#6c7086;font-style:italic }
    /* CommentHashbang */ .chroma .ch { color:#6c7086;font-style:italic }
    /* CommentMultiline */ .chroma .cm { color:#6c7086;font-style:italic }
    /* CommentSingle */ .chroma .c1 { color:#8185A0;font-style:italic }
    /* CommentSpecial */ .chroma .cs { color:#6c7086;font-style:italic }
    /* CommentPreproc */ .chroma .cp { color:#6c7086;font-style:italic }
    /* CommentPreprocFile */ .chroma .cpf { color:#6c7086;font-weight:bold;font-style:italic }
    /* Generic */ .chroma .g {  }
    /* GenericDeleted */ .chroma .gd { color:#f38ba8;background-color:#313244 }
    /* GenericEmph */ .chroma .ge { font-style:italic }
    /* GenericError */ .chroma .gr { color:#f38ba8 }
    /* GenericHeading */ .chroma .gh { color:#fab387;font-weight:bold }
    /* GenericInserted */ .chroma .gi { color:#a6e3a1;background-color:#313244 }
    /* GenericOutput */ .chroma .go {  }
    /* GenericPrompt */ .chroma .gp {  }
    /* GenericStrong */ .chroma .gs { font-weight:bold }
    /* GenericSubheading */ .chroma .gu { color:#fab387;font-weight:bold }
    /* GenericTraceback */ .chroma .gt { color:#f38ba8 }
    /* GenericUnderline */ .chroma .gl { text-decoration:underline }
    /* TextWhitespace */ .chroma .w {  }
}